.search-content {
  background: #fff;
  max-height: 100%;
}

.input-control {
  max-width: 720px;
  margin: auto;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-control input {
  width: 100%;
}

.input-control button {
  margin: 0 50px;
  height: 25px;
  border-radius: 5px;
  background: #354463;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  width: 160px;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.input-control button:hover {
  background: #5357a9;
}

.input-control button[disabled] {
  background: #aaa;
}
